body {
  background-color: rgb(220, 236, 255);
}

main {
  margin-top: 50px;
}

button {
  margin: 7px;
}

a {
  cursor: pointer;
  display: inline-block;
  border: 1px solid;
  padding: 6px;
  margin: 5px;
  margin-top: 20px;
  background-color: rgb(220, 245, 200);
}

a.activeFilter {
  background-color: rgb(140, 165, 120);
  color: white;
}

.contact {
  display: inline-block;

  margin: 25px;
  padding: 20px;

  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;

  background-color: rgb(254, 255, 247);
  min-width: 150px;
}

.contactLabel {
  font-weight: bolder;
  font-size: smaller;
}

.noContactsMessage {
  margin-top: 100px;
  text-align: center;

  font-size: large;
  font-style: italic;
}

.noTagsMessage {
  text-align: center;
  font-style: italic;
}

dialog input {
  display: block;
}